body {
    margin: 0
}

.bubble {
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
   @for $bubble from 1 through $bubbles_total {
     &-#{$bubble} {
      opacity: (random(100))*0.01;
      left: #{random(100)}vw;
      top: #{random(100)}vh;
      // background-color: rgb(random(255), random(255), random(255));
       animation: move-#{$bubble} #{30 + $bubble*0.02}s infinite;
      @include transform(translate(0, 0) scale((random(200) + 5)*0.01));
    }
  }
}

@for $bubble from 1 through $bubbles_total {
  @keyframes move-#{$bubble}{
    #{random(30) + 30}% {
      @include transform(translate( #{random(100) - 100}vw, #{random(100) - 100}vh), scale((random(200) + 200)*0.1));
    }   
  }
}
